<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">ĐĂNG KÝ ACCOUNT</h5>
                <p class="grey-text text-lighten-4">Để được tham gia chơi online, bạn phải được người khác mời. Bạn có thể tìm invite tại group. Hãy chăm chỉ theo dõi và pm xin invite, hoặc làm điều gì đó nổi bật. Việc invite này sẽ giúp các bạn gắn bó với nhau hơn và giảm thiểu hack.</p>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">LỢI NHUẬN</h5>
                <p class="grey-text text-lighten-4">CS4VN hoạt động phi lợi nhuận, dựa trên sự đam mê và sở thích riêng. Vì vậy xin đừng đòi hỏi. CS4VN có chấp nhận donate, toàn bộ tiền donate sẽ được dùng để làm kinh phí duy trì server.</p>
            </div>
            <div class="col l4 s12" style="overflow: hidden;">
                <h5 class="white-text">SEN VIỆT</h5>
                <p class="grey-text text-lighten-4">Sen Việt là trang hướng dẫn lập trình web, php và WordPress bằng tiếng Việt. Website này được tạo bởi thành viên của Sen Việt.</p>
                <a class="btn waves-effect waves-light red lighten-3" target="_blank" href="http://laptrinh.senviet.org">Xem ngay</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">© 2014-2015 <a href="http://laptrinh.senviet.org">SenViet.org</a>, All rights reserved.<a class="grey-text text-lighten-4 right" href="https://github.com/Dogfalo/materialize/blob/master/LICENSE">MIT License</a>
        </div>
    </div>
</footer>
<!--  Scripts-->
<script>
    var ajaxUrl = "{{ url('SourceQuery') }}";
</script>
{{ include('JsTemplate/playerItem.twig') }}
{{ include('JsTemplate/playerListLoading.twig') }}
{{ include('JsTemplate/playerListEmpty.twig') }}
<script src="{{ app.request.BasePath }}/public/js/jquery-2.1.4.min.js"></script>
<script src="{{ app.request.BasePath }}/public/js/underscore-min.js"></script>
<script src="{{ app.request.BasePath }}/public/js/backbone-min.js"></script>
<script src="{{ app.request.BasePath }}/public/js/backbone.marionette.js"></script>
<script src="{{ app.request.BasePath }}/public/js/materialize.js"></script>
<script src="{{ app.request.BasePath }}/public/js/init.js"></script>
<!--  Google Analytics  -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66885572-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>